<div class="container-fluid">
    <div class="row">

        <section class="col-12 col-md-3 mb-4 mt-3">
            <!-- Summary of Warehouses -->
            <div class="card mb-3" *ngIf="mhouses[0]">
              <div class="card-header">
                <strong>Summary</strong>
              </div>
              <div class="card-body">
                <p>Total Warehouses: <strong>{{ mhouses.length || 0 }}</strong></p>

              </div>
            </div>

            <!-- Additional Actions -->
            <div class="card" *ngIf="mhouses[0]">
              <div class="card-header">
                <strong>Actions</strong>
              </div>
              <div class="card-body">
                <button class="btn btn-outline-success my-2" (click)="openCreateWarehouseModal()">
                    <i class="fa fa-plus" aria-hidden="true"></i> New Main Warehouse
                  </button>
              </div>
            </div>
          </section>
        <section class="col-12 col-md-9 mt-3">
            <div class="cards-container">
                <div class="col-md-3 mb-4" *ngFor="let wearhous of mhouses">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title>{{wearhous.mainName}}</mat-card-title>

                            <mat-card-subtitle> </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/warehouse2.jpg" alt="Photo of a Warehouse">
                        <mat-card-content>
                            <p>El mostaqbal Stock system, is designed to manage items and main warehouse, in addition to sub warehouse levels</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button routerLink="/Subwearhouse/{{wearhous.mainId}}" class="button btn btn-outline-warning-sm mb-2" mat-button>View Sub</button>
                            <button routerLink="/mainwearhouse/{{wearhous.mainId}}" class="button btn btn-sm mb-2" mat-button>Details</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </section>
    </div>
</div>
