<div *ngIf="subwearhouse">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a (click)="goBack()" style="cursor: pointer; color: #007bff;">Sub Warehouse</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #6c757d;">
          {{ subwearhouse.subName }}
        </li>
      </ol>
    </nav>

    <section class="subwearhouse-details">
      <h3>{{ subwearhouse.mainName }}</h3>
      <div class="wearhouse-info">
        <div class="wearhouse-section">
          <h4>Sub Warehouse Details</h4>

          <!-- Form to update warehouse details -->
          <form [formGroup]="wearhouseForm" (ngSubmit)="onSubmit()"> 
            <div class="form-group">
              <label for="subName">
                <strong>Name of Warehouse:</strong>
                <span class="text-danger">*</span>
              </label>
              <input type="text" id="subName" class="form-control" formControlName="subName" />
              <div *ngIf="wearhouseForm.get('subName')?.invalid && (wearhouseForm.get('subName')?.dirty || wearhouseForm.get('subName')?.touched)" class="text-danger">
                <small *ngIf="wearhouseForm.get('subName')?.errors?.['required']">Name is required.</small>
              </div>
            </div>

            <div class="form-group">
              <label for="subDescription"><strong>Description:</strong></label>
              <input type="text" id="subDescription" class="form-control" formControlName="subDescription" />
            </div>

            <div class="form-group">
              <label for="subAddress"><strong>Address:</strong></label>
              <input type="text" id="subAddress" class="form-control" formControlName="subAddress" />
            </div>
            <div class="form-group">
              <p><strong>Created AT:</strong> {{ subwearhouse.subCreatedat | date: 'yyyy-MM-dd' }}</p>
            </div>

            <div class="form-group">
              <p><strong>Updated AT:</strong> {{ subwearhouse.subUpdatedat | date: 'yyyy-MM-dd' }}</p>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
