
<form [formGroup]="SubMainWearhouseForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="subName">Sub Warehouse Name *</label>
    <input id="subName" type="text" formControlName="subName" class="form-control" [ngClass]="{'is-invalid': SubMainWearhouseForm.get('subName')?.invalid && SubMainWearhouseForm.get('subName')?.touched}">
    <div *ngIf="SubMainWearhouseForm.get('subName')?.invalid && SubMainWearhouseForm.get('subName')?.touched" class="invalid-feedback">
      Sub Warehouse Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="subDescription">Sub Warehouse Description</label>
    <input id="subDescription" type="text" formControlName="subDescription" class="form-control">
    
  </div>

  <div class="form-group">
    <label for="subAddress">Sub Warehouse Address</label>
    <input id="subAddress" type="text" formControlName="subAddress" class="form-control">
  </div>

  <div class="form-group" hidden>
    <label for="mainFk">Main Warehouse ID</label>
    <input id="mainFk" type="number" formControlName="mainFk" class="form-control">
  </div>

  <div class="form-group">
    <label for="parentSubWearhouseId">Parent Sub Warehouse ID</label>
    <input id="parentSubWearhouseId" type="number" formControlName="parentSubWearhouseId" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="SubMainWearhouseForm.invalid">Save Sub Warehouse</button>
</form>

<div *ngIf="errors.length > 0" class="alert alert-danger">
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>
