<p-table
    #dt1
    [value]="displayAllPermVM"
    dataKey="id"
    [rows]="pageSize"
    [lazy]="true"
    (onLazyLoad)="getAllPermissions($event)"
    [totalRecords]="totalRecords"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    appendTo="body"
    >
    <!-- [scrollable]="true"
    scrollHeight="120vh" -->
    <ng-template pTemplate="caption">
        <div class="flex">
          <!-- <h2>All Permissions</h2> -->
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <!-- <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
              <div class="flex align-items-center">
                Code
              </div>
            </th>
            <th>
              <div class="flex align-items-center">
                Order Type Name
              </div>
            </th>
            <th>
              <div class="flex align-items-center">
                SubWearhouse
              </div>
            </th>
            <th>
              <div class="flex align-items-center">
                SubWearhouse Destination
              </div>
            </th>
            <th>
              <div class="flex align-items-center">
                Number of Items
              </div>
            </th>
            <th>
              <div class="flex align-items-center">
                Date
              </div>
          </th>
          <th>
            <div class="flex align-items-center">
              Actions
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <span class="p-float-label">
              <p-dropdown [options]="permissionTypes"
              [(ngModel)]="selectedPerm"
              placeholder="Select Permission Type"
              optionLabel="perTypeValueEn"
              inputId="float-label"
              (onChange)="onDropdownChange($event.value)"
              ></p-dropdown>
              <label for="float-label">Search By Permission Type</label>
          </span>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <p-calendar [(ngModel)]="selectedDate"
              [showIcon]="true"
              (onSelect)="onDateChange($event)"
              dateFormat="mm/dd/yy"
              appendTo="body"
              placeholder="Select Date"
              [readonlyInput]="true"
              >
            </p-calendar>
          </th>
          <th></th>
      </tr>
      <!-- <tr>
        <th pSortableColumn="permCode" style="width:20%">Code <p-sortIcon field="permCode"></p-sortIcon></th>
        <th pSortableColumn="perTypeValue" style="width:20%">Order Type Name <p-sortIcon field="perTypeValue"></p-sortIcon></th>
        <th pSortableColumn="subName" style="width:20%">SubWearhouse <p-sortIcon field="subName"></p-sortIcon></th>
        <th pSortableColumn="destinationSubNameantity" style="width:20%">SubWearhouse Destination <p-sortIcon field="destinationSubNametity"></p-sortIcon></th>
        <th pSortableColumn="itemCount" style="width:20%">Number of Items <p-sortIcon field="itemCount"></p-sortIcon></th>
        <th pSortableColumn="permCreatedat" style="width:20%">Date <p-sortIcon field="permCreatedat"></p-sortIcon></th>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-perm>
        <tr>
            <td>
              {{ perm.permCode }}
            </td>
            <td>
              {{ perm.perTypeValueEn }}
            </td>
            <td>
              {{ perm.subNameEn }}
            </td>
            <td>
              {{ perm.destinationSubNameEn }}
            </td>
            <td>
              {{ perm.itemCount }}
            </td>
            <td>
              {{ perm.permCreatedat | date: 'MM/dd/yyyy' }}
            </td>
              <!-- <th style="width: 94px;">
              <button class="btn btn-outline-info me-2" pInputText [pTooltip]="tooltipView" [hideDelay]="500"
                tooltipPosition="top" [routerLink]="['/permissionDetails', selectedPermId]">
                <i class="fa fa-eye"></i>
              </button>
              <ng-template #tooltipView>
                <div class="flex align-items-center">
                  <span><b>View Permission</b></span>
                </div>
              </ng-template>
              <button class="btn btn-outline-primary" pInputText [pTooltip]="tooltipEditView" [hideDelay]="500"
                tooltipPosition="top" [routerLink]="['/permissionDetails', selectedPermId]">
                <i class="fa fa-edit"></i>
              </button>
              <ng-template #tooltipEditView>
                <div class="flex align-items-center">
                  <span><b>EditView Permission</b></span>
                </div>
              </ng-template>
            </th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No Orders found...</td>
        </tr>
    </ng-template>
</p-table>
