<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item" data-bs-interval="5000">
      <img src="assets\images\slider-1.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item c-item" data-bs-interval="2000">
      <img src="assets\images\slider-2.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="assets\images\slider-3.jpeg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="row">
    <section class="col-lg-6 col-12 py-100 bg-white sec">
      <div class="container">
        <div class="row">
          <div class="col-12 aos-init aos-animate" data-aos="fade-up">
            <div class="section-heading mb-30">
              <h1 class="heading fw-500">At <span class="text-primary">Warehouse</span>, we provide a unique solution for warehousing space for business and consumers</h1>
            </div>
            <p class="fs-16 mb-4">At Warehouse, we offer tailored warehousing solutions that cater to both businesses and individual consumers, ensuring your storage needs are met efficiently.</p>
            <p class="fs-16 mb-4">Whether you're a business looking to store inventory or a consumer needing extra space, Warehouse has the perfect solution for you.</p>

          </div>
        </div>
      </div>
    </section>

    <section class="col-lg-6 col-12 py-100 bg-white sec">
        <div class="container">
          <div class="row">
            <div class="col-12 aos-init aos-animate" data-aos="fade-up">
              <div class="section-heading mb-30">
                <h1 class="heading fw-500">At <span class="text-secondry">Warehouse</span>, we offer a user-friendly tracking system for materials, providing real-time visibility and tailored solutions to boost productivity and asset accuracy.</h1>
              </div>
              <p class="fs-16 mb-4">With our range of customizable options, Warehouse makes it easy to find the ideal storage solution that fits your specific needs.</p>
              <p class="fs-16 mb-4">Experience the difference with Warehouse, where our commitment to customer satisfaction ensures a seamless storage experience for everyone.</p>

            </div>
          </div>
        </div>
      </section>
  </div>

