<ul class="wearhouse-tree">
  <li *ngFor="let wearhouse of subWearhouses">
    <div class="wearhouse-item card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <strong>Name :</strong> {{ wearhouse?.subName }}</mat-card-title>
          <mat-card-subtitle>
            <strong>Sub Address :</strong> {{ wearhouse?.subAddress }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <strong>Description:</strong> {{ wearhouse?.subDescription }}.</p>
        </mat-card-content>
        <mat-card-content>
          <p>
            <strong>CreatedAT:</strong> {{ wearhouse?.subCreatedat | date: 'yyyy-MM-dd' }}.</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-outline-warning mb-2" mat-button>View Items</button>
          <button routerLink="/Subwearhouse-details/{{wearhouse?.subId}}" class="btn btn-outline-info mb-2" mat-button>Details</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Explicit check for children being defined -->
    <ul *ngIf="wearhouse && wearhouse.children && wearhouse.children.length > 0" class="children-list">
      <!-- Pass an empty array if wearhouse?.children is undefined -->
      <app-subwearhouse-tree [subWearhouses]="wearhouse?.children ?? []"></app-subwearhouse-tree>
    </ul>
   
  </li>
</ul>
