.wearhouse-tree {
    list-style-type: none;
    padding-left: 0;
  
    li {
      margin-bottom: 16px; /* Space between items */
      position: relative;
  
      /* Nested list styling */
      .children-list {
        list-style-type: none;
        padding-left: 20px;
        margin-top: 10px;
        border-left: 2px solid #007bff; /* Optional: Visual hierarchy */
      }
    }
  
    .wearhouse-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
      width: 100%;
  
      .mat-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        }
  
        .mat-card-header {
          background-color: #f8f9fa;
        }
  
        .mat-card-actions {
          display: flex;
          justify-content: space-between;
        }
  
      
      }
    }
  }
  