<div *ngIf="mainwearhouse && mainwearhouse.length > 0">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a [routerLink]="['/mainwearhouse']">{{'MainWearHouse'}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a style="font-size: larger;">
            {{ mainwearhouse[0].mainName }}
            
          </a>
        </li>
      </ol>
    </nav>

    <section class="mainwearhouse-details">
      <h3>{{ mainwearhouse[0].mainName }}</h3>
      <div class="wearhouse-info">
        <div class="wearhouse-section">
          <h4>Main Warhouse Details</h4>

          <!-- Form to update wearhouse details -->
          <form [formGroup]="wearhouseForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="mainName"><strong>Name of WearHouse:</strong></label>
              <input type="text" id="mainName" class="form-control" formControlName="mainName" />
            </div>

           

            <div class="form-group">
              <label for="mainDescription"><strong>Description:</strong></label>
              <input type="text" id="mainDescription" class="form-control" formControlName="mainDescription" />
            </div>

            <div class="form-group">
              <label for="mainAdderess"><strong>Address:</strong></label>
              <input type="text" id="mainAdderess" class="form-control" formControlName="mainAdderess" />
            </div>
            <div class="form-group">
              <p><strong>Number of Subwearhouses:</strong> {{ mainwearhouse.length }}</p>

            </div>
            <div class="form-group">
              <p><strong>CreatedAT:</strong> {{ mainwearhouse[0].mainCreatedat | date: 'yyyy-MM-dd' }}
              </p>

            </div>

            <div class="form-group">
              <p><strong>UpdatedAT:</strong> {{ mainwearhouse[0].mainUpdatedat | date: 'yyyy-MM-dd' }}</p>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
