<div class="container-fluid mt-5 category-tree">
  <div class="row">
    <section class="col-12 col-md-3 mb-4">
      <div class="card mb-3">
        <div class="card-header">
          <strong>Summary</strong>
        </div>
        <div class="card-body">
          <p>Total Items: <strong></strong></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <strong>Filters</strong>
        </div>
        <div class="card-body">
          <label for="filterByName">Filter by Name:</label>
          <input
            id="filterByName"
            type="text"
            class="form-control mb-3"
            placeholder="Enter name"
          />
          <button class="btn btn-primary w-100">Apply Filter</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <strong>Actions</strong>
        </div>
        <div class="card-body">
          <!-- <button class="btn btn-success w-100 mb-2" >
            <i class="fa fa-plus"></i> Add New Item
          </button> -->
        </div>
      </div>
    </section>

    <section class="col-12 col-md-9">
      <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="card text-bg-success mb-3 ca-pr">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-primary mb-3 ca-pr">
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-secondary mb-3 ca-pr">
          <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card text-bg-danger mb-3 ca-pr">
          <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
