<form [formGroup]="MainWearhouseForm" (ngSubmit)="save()" class="custom-modal-form">
    <div class="p-field">
        <label for="mainNameEn">
            Warehouse NameEn <span class="required-star" style="color: red;">*</span>
          </label>
        <input id="mainNameEn" type="text" pInputText formControlName="mainNameEn" />
        <div *ngIf="MainWearhouseForm.get('mainNameEn')?.touched && MainWearhouseForm.get('mainNameEn')?.hasError('required')" class="error-message">
          Warehouse NameEn is required.
        </div>
      </div>
      <div class="p-field">
        <label for="mainNameAr">
            Warehouse NameAr <span class="required-star" style="color: red;">*</span>
          </label>
        <input id="mainNameAr" type="text" pInputText formControlName="mainNameAr" />
        <div *ngIf="MainWearhouseForm.get('mainNameAr')?.touched && MainWearhouseForm.get('mainNameAr')?.hasError('required')" class="error-message">
          Warehouse NameAr is required.
        </div>
      </div>
    <div class="p-field">
      <label for="mainDescriptionEn">DescriptionEn</label>
      <textarea id="mainDescriptionEn" pInputTextarea formControlName="mainDescriptionEn"></textarea>
    </div>
    <div class="p-field">
      <label for="mainDescriptionAr">DescriptionAr</label>
      <textarea id="mainDescriptionAr" pInputTextarea formControlName="mainDescriptionAr"></textarea>
    </div>
    <div class="p-field">
      <label for="mainAdderess">Address</label>
      <input id="mainAdderess" type="text" pInputText formControlName="mainAdderess" />
    </div>
   
    <p-footer>
      <button type="submit" pButton icon="pi pi-check">Save</button>
      <!-- <button type="button" pButton icon="pi pi-times" (click)="hide()" class="p-button-secondary">Cancel</button> -->
    </p-footer>
</form>
