<form [formGroup]="permActForm" (ngSubmit)="save()">
  <!-- <div class="form-group">
    <span class="p-float-label">
      <p-inputNumber [(ngModel)]="Permissionaction.permTypeFk" inputId="integeronly" [min]="0"></p-inputNumber>
      <label htmlFor="permTypeFk">PermTypeFk</label>
    </span>
  </div> -->

      <!-- mutiple select -->
      <div class="form-group">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="Permissionaction.items" inputId="integeronly" [min]="0"></p-inputNumber>
          <label htmlFor="itemId">Item ID</label>
        </span>
      </div>

      <!-- drowpdown selecte -->
      <div class="form-group">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="Permissionaction.items" inputId="integeronly" [min]="0"></p-inputNumber>
          <label htmlFor="itemId">SubWearHouse ID</label>
        </span>
      </div>

      <!-- <div class="card flex justify-content-center">
        <p-dropdown [options]="subWearhous" [(ngModel)]="selectedItem.sub" optionLabel="subName" [filter]="true" filterBy="subName" [showClear]="true" placeholder="Select a Country">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                    <div>{{ selectedCountry.name }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ country.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div> -->

      <div class="form-group" *ngIf="headerValue=='نقل'">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="Permissionaction.items" inputId="integeronly" [min]="0"></p-inputNumber>
          <label htmlFor="itemId">Destination SubWearHouse ID</label>
        </span>
      </div>

      <div class="form-group">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="Permissionaction.items" inputId="integeronly" [min]="0"></p-inputNumber>
          <label htmlFor="quantity">Quantity</label>
        </span>
      </div>

  <button type="submit" class="btn btn-primary my-3">Save Permission</button>
</form>
