<div class="container my-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" routerLinkActive="router-link-active">{{'Home'}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{'Sign-Up'}}</li>
      </ol>
    </nav>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <img  class="mb-4" src="/assets/images/wearhouse.png" alt="" width="180" height="140">
        <h1 class="h3 mb-3 fw-normal">{{'Register' }}</h1>
  
        <div class="form-floating mb-3">
          <input formControlName="email" type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
          <label for="floatingInputEmail">{{'Email address' }}</label>
          <span class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
            {{'Email address is required' }}
          </span>
          <span class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched && registerForm.get('email')?.hasError('pattern')">
            {{'Email address is not valid' }}
          </span>
          <span class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched && registerForm.get('email')?.hasError('emailExists')">
            {{'Email address is exist' }}
          </span>
        </div>
  
        <div class="form-floating mb-3">
          <div class="d-flex">
            <div class="input-container">
              <input formControlName="displayName" type="text" id="floatingInputDisplayName" placeholder="First Name" class="input">
              <label class="label">{{'First Name' }}</label>
              <div class="top-line"></div>
              <div class="under-line"></div>
            </div>
  
          </div>
          <div class="d-flex">
            <span class="text-danger" *ngIf="registerForm.get('displayName')?.invalid && registerForm.get('displayName')?.touched && registerForm.get('displayName')?.hasError('required')">
              {{'First Name is required' }}
            </span>
           
          </div>
        </div>
  
       
       
        <div class="form-floating mb-3" [class.focused]="isPasswordFocused">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false">
          <label for="floatingPassword">{{'Password' }}</label>
          <span class="text-danger" *ngIf="isPasswordFocused && registerForm.get('password')?.hasError('invalidPassword')">
            <ol>
              <li *ngIf="registerForm.get('password')?.hasError('minLength')">{{'Password must have at least 8 characters' }}</li>
              <li *ngIf="registerForm.get('password')?.hasError('missingUppercase')">{{'One uppercase letter' }}</li>
              <li *ngIf="registerForm.get('password')?.hasError('missingLowercase')">{{'One lowercase letter' }}</li>
              <li *ngIf="registerForm.get('password')?.hasError('missingNumeric')">{{'One numeric digit' }}</li>
              <li *ngIf="registerForm.get('password')?.hasError('missingSymbol')">{{'One symbol'}} (&#64;, !, #, etc.)</li>
            </ol>
          </span>
        </div>
        <!-- <div class="form-floating mb-3" [hidden]="true">
          <input formControlName="role" type="role" class="form-control" id="floatingRole" placeholder="Role">
          <label for="floatingPassword">Role</label>
          <span class="text-danger" *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched && registerForm.get('role')?.hasError('required')">
            Role is required
          </span>
        </div> -->
        <ul class="text-danger" *ngIf="errors?.length">
          <li *ngFor="let error of errors">
            {{'Please try diffrent Password' }}
          </li>
        </ul>
  
        <button [disabled]="registerForm.invalid" class="btn btn-primary w-100 py-2" type="submit">{{'Register' }}</button>
  
        <div class="d-flex gap-2 justify-content-center py-3">
          <a [routerLink]="['/login']" class="btn btn-outline-secondary d-inline-flex align-items-center smaller-button" type="button">
            {{'Have Account - Login' }}          
          </a>
        </div>
        <p class="mt-5 mb-3 text-body-secondary text-center">©ElMostakbal-Co- 2023</p>
      </form>
    </div>
  </div>