<div class="container-fluid mt-5 category-tree">
  <div class="row" *ngIf="categoryTree?.length">
    <section class="col-12 col-md-3 mb-4">
      <div class="card mb-3" *ngIf="categoryTree.length">
        <div class="card-header">
          <strong>Summary</strong>
        </div>
        <div class="card-body">
          <p>Total Categories: <strong>{{ categoryTree.length }}</strong></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <strong>Filters</strong>
        </div>
        <div class="card-body">
          <label for="filterByName">Filter by Name:</label>
          <input id="filterByName" type="text" class="form-control mb-3" placeholder="Enter name">
          <button class="btn btn-primary w-100">Apply Filter</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <strong>Actions</strong>
        </div>
        <div class="card-body">
          <button class="btn btn-success w-100 mb-2" (click)="openCreateCategoryModal()">
            <i class="fa fa-plus"></i> Add New Category
          </button>
        </div>
      </div>
    </section>

    <section class="col-12 col-md-9">
      <div class="card">
        <p-treeTable [value]="categoryTree" [columns]="cols" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode">
              <td *ngFor="let col of columns; let i = index; let last = last">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
                {{ rowData[col.field] }}
                <ng-container *ngIf="last">
                  <button class="btn btn-outline-info me-2" pInputText [pTooltip]="tooltipView" [hideDelay]="500" tooltipPosition="top" [routerLink]="['/category-details', rowData.catId]">
                    <i class="fa fa-eye"></i>
                  </button>
                  <ng-template #tooltipView>
                    <div class="flex align-items-center">
                        <span><b>Details</b></span>
                    </div>
                  </ng-template>
                  <button class="btn btn-outline-primary" pInputText [pTooltip]="tooltipEditView" [hideDelay]="500" tooltipPosition="top" [routerLink]="['/category-details', rowData.catId]">
                    <i class="fa fa-edit"></i>
                  </button>
                  <ng-template #tooltipEditView>
                    <div class="flex align-items-center">
                        <span><b>ViewItem</b></span>
                    </div>
                  </ng-template>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </section>
  </div>
</div>

